.main-form{
    width: 100%;
    margin-bottom: 16px;

    label{
        display: block;
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 600px !important;
        text-align: right;

    }

    .label-required {
        &::after {
            content: '*';
            display: inline-block;
            padding: 0  4px;
            color: red;
            font-size: 14px;
        }
    }

    .form-control{
       background: #fff;
       border-radius: 8px;
       border: 1px solid $gray-500;
       text-align: right;
       height: 54.2px;
       display: flex;
       align-items: center;
       &:hover{
            border-color: $gray-300;
       }
       &:focus{
           border-color: $primary;
           box-shadow: 0 0 0 2px rgba($primary, 0.2);

       }
       ::placeholder{
           color: $gray-300;
           font-weight: 400;
           font-size: 11px;

       }

       &[disabled]{
        cursor: not-allowed $i;
        pointer-events: none $i;
        opacity: .4 $i;
       }


    }
    select.form-control > option{
        padding: 12px 4px;
    }

}

.input-error{
    .form-control{
        border: 1px solid  #DA1212 !important;
    }

    .error-message{
       color: #DA1212 !important;
       font-size: 11px;
       font-weight: 500;
       margin-top: 4PX;
    }
    
}

.main-form-with-icon{
    position: relative;

    i {
         position: absolute;
         left: 6px;
         top: 39px;
         color: $gray-700;
         font-size: 20px;
     }

     span{
        position: absolute;
        left: 6px;
        top: 39px;
        color: $gray-700;
        font-size: 20px;
     }
     button {
        position: absolute;
        left: 2px;
        top: 28px;
        color: $gray-700;
        font-size: 20px;
    }

     .form-control{
         padding-left: 24px;
     }
     
}

.main-form-inline{
    display: flex;
    align-items: center;
    
    .main-form{
        margin-left: 12px;

        &:last-child{
            margin-left: 0 $i;
        }
    }
   .btn{
       height: 38px;
   }

}

.main-form-multiple-input{
    display: flex;
    
    input{
        border-left: none $i;
    }
   
}

.required-field{
    &::before{
        content: '*';
        margin-left: 4px;
        color: $danger;
    }
}
