<div class="form-container relative" [formGroup]="customerForm">
    <div class="d-flex justify-content-between">
      <div class="main-form my-3 " style="flex-basis: 48%;">
        <label for="inputEmail4 my-1">نام</label>
        <input
          formControlName="Firstname"
          type="text"
          class="form-control"
          id="inputEmail4"
        />
      </div>
      <div class="main-form my-3 " style="flex-basis: 48%;">
        <label for="inputPassword4 my-1">نام خانوادگی</label>
        <input
          type="text"
          formControlName="Lastname"
          class="form-control"
          id="inputPassword4"
        />
      </div>
    </div>
  
    <div class="d-flex  justify-content-between">
      <div class="main-form" style="flex-basis: 48%;">
        <label for="inputAddress my-1">تاریخ تولد</label>
        <input
          formControlName="BirthDate"
          type="text"
          class="form-control"
          id="inputAddress"
        />
      </div>
  
      <div class="main-form" style="flex-basis: 48%;" [ngClass]="{'input-error': PhoneNumber?.touched &&
      PhoneNumber?.dirty &&
      PhoneNumber?.errors}">
        <label for="inputAddress2">شماره تماس</label>
        <input
          type="text"
          formControlName="PhoneNumber"
          class="form-control"
          id="inputAddress2"
        />
        <small class="error-message"
          *ngIf="
          PhoneNumber?.touched &&
          PhoneNumber?.dirty &&
          PhoneNumber?.errors
          "
          
          >فرمت شماره تماس ناصحیح است</small
        >
      </div>
    </div>
  
    <div class="main-form" [ngClass]="{'input-error': Email?.touched &&
    Email?.dirty &&
    Email?.errors}">
      <label for="inputAddress2">آدرس الکترونیکی</label>
      <input
        type="email"
        formControlName="Email"
        class="form-control"
        id="inputAddress2"
        
      />
      <small class="error-message"
        *ngIf="
        Email?.touched &&
        Email?.dirty &&
        Email?.errors
        "
        >فرمت ایمیل ناصحیح است</small
      >
    </div>
  
    <button [disabled]="customerForm.invalid" (click)="updateCustomer()" type="submit" class="btn-default btn btn-full btn-primary">
      ثبت
    </button>
  </div>
  