$i: !important;

$primary:#5A189A;
$primary-100:#FBD7E5;
$primary-200:#E6DCF0;
$primary-300:#f4f0f9;
$secondary:#F5F1F9;
$third: #f55287;

// $third:#F3950D;
$white:#fff;
$warning:#ffc107;
$success: #28a745;
$success-400:#02CAA8;
$danger:#DA1212;
$orange:#fa944b;

$gray-50:#D0D0D0;
$gray-100: #fafafa;
$gray-200: #F4F8F8;
$gray-300: #434343;
$gray-400: #e1e1e1;
$gray-500: #cacaca;
$gray-600: #b3b3b3;
$gray-700: #8e8e8e;
$gray-800: #6e6e6e;
$gray-900: #4b4b4b;
$gray-1000:#959595;
$gray-1010:#DFDFDF;
$black-50:#434343;

$green-20:#00a858;
$green-10:#e9fff4;

$yellow-10:#FFFADC;
$yellow-20:#FFD43D;

$red-10:#FFF1F6;
$red-20:#FB377E;

$blue-10:#26A3D1;
$blue-200:#EBF7FE;

$crimson-100:#8c2804;
$red-50:#F03529;
